.greeting {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  width: 85%;
  margin: 0 auto 100px;

  @media (max-width: 1380px) {
    width: 95%;
  }
  @media (max-width: 767px) {
    margin-bottom: 50px;
  }
}

.description {
  width: 50%;
  text-align: center;

  @media (max-width: 1280px) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;

    p {
      text-align: center;
    }
  }
  @media (max-width: 500px) {
    .title h2 {
      font-size: 2.5rem;
    }
    p {
      text-align: justify;
    }
  }
  @media (max-width: 380px) {
    .title h2 {
      font-size: 2.3rem;
    }
  }
}

.blockquote {
  width: 50%;

  @media (max-width: 1280px) {
    display: none;
  }
}

.text {
  margin: 50px 0;
  line-height: 28px;
  font-weight: 400;
  font-size: 1.4rem;
  color: rgba(73, 38, 38, 0.679);

  @media (max-width: 1280px) {
    margin: 20px 0 40px;
  }
}

.cite {
  display: block;
  font-style: italic;
  text-align: right;
  margin-top: 30px;
}

.line {
  display: inline-block;
  vertical-align: middle;
  height: 2px;
  width: 80px;
  background-color: #eb8d2c;
  margin-right: 10px;
}

.blockquote {
  line-height: 28px;
  font-weight: 400;
  font-size: 1.2rem;
  color: rgb(42 34 34 / 88%);
}

.btn {
  margin: 0 auto;
  height: 50px;
  color: #fff;
  padding-inline: 30px;
  border-radius: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-width: max-content;
  transition: 250ms ease;

  &.btnPrimary {
    background-color: rgb(48, 95, 184);

    &:hover,
    &:focus-visible {
      background-color: #0056b3;
      box-shadow: 0 5px 10px hsla(249, 95%, 63%, 25%);
    }
  }
}
