.wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 100px;
  background: transparent;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  gap: 50px;
  margin-top: 60px;

  .accordionContainer {
    height: inherit;
    flex: 1;
  }
  
  @media (max-width: 768px) {
    flex-direction: column;
  }
}
