.about{
  padding: 5% 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 100px;

  &__notFade {
    height: 100%;
  }

  &__data{
    width: 500px;
    visibility: visible;
    opacity: 1;
  }

  &__container{
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 2.5rem;
    gap: 100px;

    &__reverse {
      flex-direction: row-reverse;
    }

    &__directionColumnMap {
      gap: 50px;
      text-align: center;
      flex-direction: column;
    }
  }

  &__description{
    margin-top: 30px;
    margin-block: 16px 24px;
    line-height: 28px;
    font-weight: 400;
    font-size: 1.8rem;
    color: rgb(39 35 35 / 58%);
  }

  &__img{
    width: 700px;

    &Overlay{
      overflow: hidden;
      border-radius: 10px;

      img{
        transition: .3s;
      }

      img:hover{
        transform: scale(1.1);
      }
    }
  }
}