.about {
  padding: 5% 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;

  .sliderImgContainer {
    max-width: 700px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    img {
      width: 100%;
      transition: transform 0.3s;
    }
  }

  &__data {
    max-width: 750px;
    visibility: visible;
    opacity: 1;
  }

  &__container {
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 100px;

    &__reverse {
      flex-direction: row-reverse;
    }

    &__directionColumnMap {
      gap: 50px;
      text-align: center;
      flex-direction: column;
    }
  }

  &__description {
    margin-block: 30px 24px;
    line-height: 28px;
    font-weight: 400;
    font-size: 1.6rem;
    color: rgb(39 35 35 / 85%);
  }

  &__MapDescription {
    text-align: center !important;

    .orangeWrapper {
      color: #eb8d2c !important;
    }
  }

  &__img {
    max-width: 700px;
    width: 100%;

    &Overlay {
      overflow: hidden;
      border-radius: 10px;

      img {
        transition: 0.3s;
      }

      img:hover {
        transform: scale(1.1);
      }
    }
  }
  @media (max-width: 1650px) {
    gap: 20px;

    &__container {
      gap: 50px;
    }
    &__data {
      max-width: 650px;
    }
    &__img {
      max-width: 600px;
      height: 100%;

      img {
        height: 80vh;
        object-fit: cover;
        object-position: center;
      }
    }
    &__description {
      margin-block: 15px 38px;
    }
  }

  @media (max-width: 1250px) {
    padding: 2%;
    gap: 0;

    &__container {
      flex-direction: column;
    }
    &__data {
      max-width: 100%;
      padding: 2% 5% 0 5%;
    }
    &__container {
      gap: 0;
    }
    .sliderImgContainer {
      max-width: 100%;
    }
    &__img {
      max-width: 100%;
      padding: 2% 5% 2% 5%;

      img {
        height: 300px;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  @media (max-width: 800px) {
    &__data {
      text-align: center;
      h2 {
        font-size: 3.5rem;
      }
    }
    &__description {
      text-align: justify;
      font-size: 1.5rem;
    }
  }

  @media (max-width: 578px) {
    &__data {
      padding: 2% 2.5% 0 2.5%;
      h2 {
        font-size: 3rem;
      }
    }
    &__img {
      padding: 2%;

      img {
        height: 40vh;
      }
    }
    &__description {
      font-size: 1.2rem;
    }
  }
  @media (max-width: 400px) {
    &__data {
      h2 {
        font-size: 2.4rem;
      }
    }
    &__description {
      margin-block: 0 20px;
    }
  }
}
