.about{
  padding: 5% 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 100px;

  &__notFade {
    height: 100%;
  }

  &__data{
    width: 500px;
    visibility: visible;
    opacity: 1;

    h2 {
      font-size: 3rem;
    }
  }
  &__container{
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 2.5rem;
    gap: 100px;

    &__reverse {
      flex-direction: row-reverse;
    }

    &__directionColumnMap {
      gap: 50px;
      text-align: center;
      flex-direction: column;
    }
  }

  &__description{
    margin-top: 30px;
    font-size: 16px;
    color: gray;
  }

  &__img{
    width: 700px;

    &Overlay{
      overflow: hidden;
      border-radius: 10px;

      img{
        transition: .3s;
      }
      img:hover{
        transform: scale(1.1);
      }
    }
  }
}