.header {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 200px;
  transition: 0.5s ease;

  &.sticky {
    position: fixed;
    color: #000;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.5s ease-in-out;

    .brand, .navigation .menuLink, .menuBtn {
      color: #166daf;
    }
    .navigation .menuLink:before {
      background: #166daf;
    }
  }

  .brand {
    color: #fff;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
  }

  .navigation {
    position: relative;

    .menuLink {
      position: relative;
      color: #fff;
      font-size: 1em;
      font-weight: 500;
      text-decoration: none;
      margin-left: 30px;
      transition: 0.3s ease;

      &:before {
        content: "";
        position: absolute;
        background: #fff;
        width: 0;
        height: 2px;
        bottom: 0;
        left: 0;
        transition: 0.3s ease;
      }

      &:hover:before {
        width: 100%;
      }
    }
  }

  .menuBtn {
    display: none;
  }

  @media (max-width: 1040px) {
    padding: 12px 20px;

    .navigation {
      display: none;
      width: 0;

      &.active {
        position: fixed;
        transition: 0.3s all ease-in-out;
        width: 100%;
        height: 100%;
        right: 0;
        top: 0;
        display: flex;
        justify-content: flex-end;
        background: rgba(1, 1, 1, 0.5);

        .navigationItems {
          height: 100%;
          background: #fff;
          width: 300px;
          max-width: 600px;
          padding: 40px;
          display: flex;
          flex-direction: column;
          align-items: center;
          box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
        }

        .menuLink {
          color: #222;
          font-size: 1.2em;
          margin: 20px;

          &:before {
            background: #166daf;
            height: 2px;
          }
        }
      }
    }

    .menuBtn {
      display: block;
      width: 40px;
      height: 40px;
      cursor: pointer;
      transition: 0.3s ease;
      color: white;

      &.active {
        z-index: 999;
        transition: 0.3s ease;
      }
    }
  }
}