.toursList {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .tourSection {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-basis: 70%;

    .selectedTour {
      display: flex;
      flex-direction: column;
      z-index: 10;
      color: white;

      .title {
        font-size: 4.5rem;
        font-weight: 700;
        line-height: 72px;

        @media (max-width: 576px) {
          font-size: 2.5rem;
        }
        @media (min-width: 577px) and (max-width: 800px) {
          font-size: 3rem;
        }
        @media (min-width: 801px) and (max-width: 1650px) {
          font-size: 4rem;
        }
      }

      .price {
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 72px;
      }
.button {
  margin-top: 50px;
  z-index: 10;
}
    }
  }

  .tours {
    flex-basis: 30%;
  }
}